In [1]:
import matlab.engine
eng = matlab.engine.start_matlab()

import pandas

In [2]:
content = eng.load("imdb_crop/imdb.mat",nargout=1)
imdb = content['imdb']

In [3]:
imdb.keys()

['name',
 'dob',
 'gender',
 'celeb_id',
 'second_face_score',
 'full_path',
 'photo_taken',
 'face_score',
 'celeb_names',
 'face_location']

In [4]:
id_lookup = imdb['celeb_id'][0][:]

In [8]:
name = imdb['name']

In [35]:
dob = eng.datevec(imdb['dob'])
photo_taken = imdb["photo_taken"][0]

In [36]:
age = [int(photo_taken[i] - vec[0]) for i, vec in enumerate(dob)]

In [6]:
gender = imdb["gender"][0][:]

In [5]:
full_path = imdb["full_path"]

In [37]:
[len(v) for v in [id_lookup, name, dob, photo_taken, gender, full_path, age]]

[460723, 460723, 460723, 460723, 460723, 460723, 460723]

In [38]:
keyed = {"path": full_path, "name": name, "gender": gender, "age": age}
df = pandas.DataFrame(keyed)
df.to_csv('matlabby.csv', encoding='utf-8')
df[:10]

   age  gender           name                                          path
0   69     1.0   Fred Astaire   01/nm0000001_rm124825600_1899-5-10_1968.jpg
1   71     1.0   Fred Astaire  01/nm0000001_rm3343756032_1899-5-10_1970.jpg
2   69     1.0   Fred Astaire   01/nm0000001_rm577153792_1899-5-10_1968.jpg
3   69     1.0   Fred Astaire   01/nm0000001_rm946909184_1899-5-10_1968.jpg
4   69     1.0   Fred Astaire   01/nm0000001_rm980463616_1899-5-10_1968.jpg
5   67     0.0  Lauren Bacall  02/nm0000002_rm1075631616_1924-9-16_1991.jpg
6   80     0.0  Lauren Bacall  02/nm0000002_rm1346607872_1924-9-16_2004.jpg
7   80     0.0  Lauren Bacall  02/nm0000002_rm1363385088_1924-9-16_2004.jpg
8   67     0.0  Lauren Bacall  02/nm0000002_rm1411175936_1924-9-16_1991.jpg
9   80     0.0  Lauren Bacall  02/nm0000002_rm1447271168_1924-9-16_2004.jpg